<div class="container">
  <h1>Biography</h1><br>
  <div class="row-fluid">
    <div class="span4">
      <br><br>
      <%= image_tag "Richard_Library.jpg" %>
    </div>
    <div class="span8">
      <h3>
      Richard K. Lewis, Esq.
      </h3>
      <br>
      Since June 1983, Richard Lewis Esq. has done thousands of cases.  With 30 years of experience in Family and Immigration Law, he has learned how to maximize the probability of winning cases in a wide range of unique circumstances. 
      ​<br><br>
      ​Richard Lewis Esq. has experience throughout the New York City legal system.  He has been able to use this knowledge to choose the proper venue and methods to decrease his clients’ time in the legal system.
      ​<br><br>
      Richard can advise, negotiate and draft financial agreements to properly bring a conclusion that meets his client’s needs.  T​his includes prenuptial and post-nuptial agreements, separation agreements and divorce stipulations, including child custody.
      ​<br><br>
      ​Richard Lewis Esq. can explain legal jargon and technicalities so his clients can easily understand the law.  He can explain the unique conditions of the case.  His experience includes notice of health insurance post divorce, removal of barriers to remarriage, and most other topics.  He’s helped his clients properly calculate their child support, and add-on expenses including child care, education, none reimbursed medical costs, and other expenses.
      ​<br><br>
      <b>Please call (718) 680-7185 to schedule an appointment to discuss your unique situation.  Richard Lewis Esq. will then be able to provide you with appropriate legal advice.</b>
      <br><br><br><br><br><br>
    </div>
  </div>
</div>