<div class="container">
  <h1>Contact</h1><br>
  <div class="row-fluid">
    <div class="span8">
        <hr class="column1" />
        <h3 id="title">
          Address<br>
        </h3>
        Richard K. Lewis<br>
        8519 4th Ave, 2nd Floor<br>
        Brooklyn, NY 11209<br>
    </div>
    <div class="span4">
        <hr class="column2" />    
        <h3 id="title" class="title2">
          Telephone<br>
        </h3>
          (718) 680-7185<br>
          (718) 680-7090
    </div>
  </div>
</div>
