<div class="container"> 
  <div class="row-fluid">
    <div class="span4">
      <hr class="column1" />
      <h3 id="title">
        Experience
      </h3>
        Since June 1983, Richard Lewis Esq. has done thousands of cases.  With 30 years of experience in Family and Immigration Law, he has learned how to maximize the probability of winning cases in a wide range of unique circumstances.<br><br><br><br><br>
        <button class="btn" type="button" style="vertical-align: text-bottom;">More</button>
    </div>
    <div class="span4">
      <hr class="column2" />    
      <h3 id="title" class="title2">
        Areas of Practice
      </h3>
      <i>​Divorce Law​<br><br>Family Law<br><br>Immigration Advice​</i>
    </div>
    <div class="span4">
      <hr class="column3" /> 
      <div class="bubble"> 
      <h3>
      <p>
        Contact Us
      </p>
      </h3>
      <h6 style="color:#000000">FOR AN APPOINTMENT
      </h6>
      <h3 style="text-align: center;">(718) 680-7185<br>(718) 680-7090<br>
      </h3>
      <p>Brooklyn Office​<br>8519 4th Ave, 2nd Floor<br>Brooklyn, NY 11209​<br></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
   <div class="span4">
      <hr class="column1" />
      <h3 id="title">
        Hours
      </h3>
        <ul>
          <li>Monday - Thursday : 10 am - 6 pm​</li>
          <li>Friday : 2 pm - 6 pm​</li>
          <li>Saturday : 9 am - 3 pm</li>
        </ul><br><br><br><br><br>
        <h6 style="vertical-align: text-bottom;">
          Hours are subject to change.<br>Please call ahead of time to schedule an appointment.
        </h6>
    </div>
    <div class="span4">
      <hr class="column2" />    
      <h3 id="title" class="title2">
        Quick Divorce
      </h3>
      As low as $194 + Court Costs,<br>if both spouses cooperate.
    </div>
    <div class="span4">

    </div>
  </div>
</div>