<h1>"Dutch Artists"</h1>

<% @artists = ["Rembrandt", "Andreas Schelfhout" ,"Jan Mankes," ,"Jan Thorn-Prikker","Jan Veth", "Willem de Zwart"] %>

<ul>

<% @artists.each do |dutch| %>

	<li><%=dutch %></li>

<% end %> 

</ul>