<!DOCTYPE html>
<html lang="en">
	<head>
		<h1><title>Emergency Compliment</title><h1>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link rel="stylesheet" href="bootstrap.min.css">
	</head>
	<body>

		<div class="main">

			<%= yield %>

		</div>
	</body>
</html>